body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.calculadora {
    max-width: 300px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(59, 55, 55);
}

form {
    display: flex;
    flex-direction: column;
}

input, select, button {
    margin: 10px 0;
    padding: 8px;
    font-size: 16px;
}

button {
    background-color: #1042ce;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

input[type="reset"] {
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: #465c99;
}

input:hover[type="reset"] {
    background-color: #bb3232;
    color: black;
}